<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>$site$ - $title$</title>
        <link rel="stylesheet" href="/css/default.css" />
    </head>
    <body class="container">
      <header>
        <h2 class="header">
          <a class="header__site link" href="/">$site$:</a> <span class="header__post">$title$</span>
        </h2>
      </header>

      <main class="content" role="main">
        $body$
      </main>
      <footer>
        <ul class="footer">
          <li class="footer__item"><a class="link" href="/archive.html">archive</a></li>
          <li class="footer__item"><a class="link" href="/contact.html">contact</a></li>
        </ul>
      </footer>
    </body>
</html>
